.about-heading {
    margin-top: 90px;
    @mixin atMedium {
        margin-top: 0;
    }
}

.about {
    @mixin atMedium {
        display: flex;
        gap: 50px;

        &__desc {
            flex: 1;

            h3 {
                margin-top: 0;
            }

            p {
                font-weight: 500;
                margin-bottom: 2.5rem;
            }
        }

        &__img {
            flex: 1;
        }
    }
}
