.about {
    @mixin atMedium {
        display: flex;

        &__desc {
            flex: 1;
            width: 50%;
        }

        &__img {
            flex: 1;
            width: 50%;
        }
    }
}
