.mvc {
    color: #FFF;
    @mixin atMedium {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.mvc > div {
    background-color: #000;
    padding: 20px 10px;
    margin-bottom: 2rem;
    @mixin atMedium {
        flex: 1;
        padding: 40px 20px;
        margin-right: 2rem;
    }
}

@mixin atMedium {
    .mvc > div:last-child {
        margin-right: 0;
    }
}

.mvc > div i {
    margin-bottom: 15px;
}